<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/style.css" />
    <title>Request Header Parser Microservice</title>
</head>

<body>
    <main class="conatiner">
        <header class="haeder">
            <h1>Request Header Parser Microservice</h1>
            <hr />
        </header>
        <section class="body">
            <div>
                <h2>Example Usage:</h2>
                <p>
                    <a target="_self" href="/api/whoami">[base url]/api/whoami</a>
                </p>
            </div>
            <div>
                <h2>Example Output:</h2>
                <p>
                    <code>
              {"ipaddress":"::ffff:127.0.0.1","language":"fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7,ar;q=0.6",
              <br />
              "software":"Mozilla/5.0 (Windows NT 10.0; Win64; x64)
              AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.5005.63
              Safari/537.36"}</code
            >
          </p>
        </div>
      </section>
      <footer class="footer">
        By
        <a href="https://ilyaskritet.w3spaces.com/" target="_blank"
          >Kritet ilyas</a
        >
      </footer>
    </main>
  </body>
</html>