<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/style.css" />
    <title>Request Header Parser Microservice</title>
</head>

<body>
    <main class="conatiner">
        <header class="haeder">
            <h1>Request Header Parser Microservice</h1>
            <hr />
        </header>
        <section class="body">
            <div>
                <h2>Example Usage:</h2>
                <p>
                    <a target="_self" href="/api/whoami">[base url]/api/whoami</a>
                </p>
            </div>
            <div>
                <h2>Example Output:</h2>
                <p>
                    <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
              <br />
              "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0)
              Gecko/20100101 Firefox/50.0"}</code
            >
          </p>
        </div>
      </section>
      <footer class="footer">
        By
        <a href="https://ilyaskritet.w3spaces.com/" target="_blank"
          >Kritet ilyas</a
        >
      </footer>
    </main>
  </body>
</html>